/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        /* regoler body */

/* regole nav */

#wrapper{
    height: calc(100vh - 150px);
    display: flex;
}

#wrapper nav{
    height: 100%;
    width: 200px;
    background-color: rgba(0,0,0,255);
    padding: 10px 15px;
    color:rgba(111,111,111,255);  
}

nav{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* regole logo */

#logo{
    width: 70%;
    padding-bottom: 15px ;
}

/* regole list item */

#nav-head li{
    padding-bottom: 5px ;
    list-style: none;
}

#nav-head li span{
    vertical-align: middle;
    padding-left: 5px;
}

#nav-head img{
    width: 13%;
    vertical-align: middle;
}

/* regole nav-main */

#nav-main h2 {
    color: #fff;
    padding-top: 10px;
}

#nav-main li{
    list-style: none;
    padding: 5px 0;
}

#playlist i{
    vertical-align: middle;
    font-size: 35px;
}

#playlist span{
    vertical-align: middle;
    padding-left: 5px;
}

/* regole nav-footer */

#nav-footer{
    margin-top: auto;

}

#nav-footer li{
    padding: 3px;
    list-style: none;
}

#download img{
    width: 8%;
    vertical-align: middle;
}

#profilo{
    color: #fff;
    font-size: larger;
}

#profilo img{
    width: 12%;
    vertical-align: middle;
} 

#nav-footer li span{
    vertical-align: middle;
}


#wrapper main{
    height: 100%;
    width: calc(100% - 200px);
    overflow: auto;
    background-color: rgba(20,25,34,255);
}

#player{
    height: 150px;
    background-color: rgba(40,40,40,255);
}


/* versione small mmobile */
@media screen and (max-width:480px) {

    /* blocco navigazione principale */
    #wrapper nav {
        width: 80px;
    }


    /* blocco di contenuto principale */
    #wrapper main {
        width: calc(100% - 80px);
    }


}