/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        /* regoler body */

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}


ul{
    list-style: none;
}

.grey-text{
    color: #787a7f;
}

/* effetti hover */
.hover-white:hover{
    color: #fff;
}

.hover-transform:hover{
    transform: scale(1.1);
}

.container-img-album:hover .fa-circle-play.hover-play{
    opacity: 1;
    z-index: 10;
}

.card:hover img{
    opacity: 0.5;
}

/* regole nav */

#wrapper{
    height: calc(100vh - 90px);
    display: flex;
}

#wrapper nav{
    height: 100%;
    width: 200px;
    background-color: rgba(0,0,0,255);
    padding: 10px 15px;
    color:rgba(111,111,111,255);  
}

nav{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* regole logo */

#logo-small{
    display: none;
}

#logo{
    width: 70%;
    padding-bottom: 15px ;
}

/* regole list item */

#nav-head li{
    padding-bottom: 5px ;
    list-style: none;
}

#nav-head li span{
    vertical-align: middle;
    padding-left: 5px;
}

#nav-head img{
    width: 13%;
    vertical-align: middle;
}

/* regole nav-main */

#nav-main h2 {
    color: #fff;
    padding-top: 10px;
}

#nav-main li{
    list-style: none;
    padding: 5px 0;
}

#playlist i{
    vertical-align: middle;
    font-size: 35px;
}

#playlist span{
    vertical-align: middle;
    padding-left: 5px;
}

/* regole nav-footer */

#nav-footer{
    margin-top: auto;

}

#nav-footer li{
    padding: 3px;
    list-style: none;
}

#download img{
    width: 8%;
    vertical-align: middle;
}

#profilo{
    color: #fff;
    font-size: larger;
}

#profilo img{
    width: 12%;
    vertical-align: middle;
} 

#nav-footer li span{
    vertical-align: middle;
}

/* regole main */

#wrapper main{
    height: 100%;
    width: calc(100% - 200px);
    overflow: auto;
    background-color: rgba(20,25,34,255);
}

#upgrade{
    height: 100px;
    width: calc(100% - 200px);
    background-color:rgba(8,11,18,255);
    opacity: 0.6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 900;
}

/* regole bottone */

.upgrade-btn{
    background-color: transparent; 
    color: #fff; 
    border: 2px solid #fff; 
    border-radius: 50px; 
    padding: 10px 30px; 
    font-size: 16px;
    font-weight: bold;
}

/* regole container main */

.lista-superiore{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

.lista-superiore li{
    margin: 15px 10px;
    font-size: 10px;
}


.container-musica{
    padding:15px 0;
    margin-top: 100px;
}

.container-musica h2{
    color: #fff;
    padding-bottom: 15px;
    padding-left: 15px;
}

/* regole riga */

.row{
    display: flex;
    flex-direction: row;
}

/* regole card */

.card{
    width:15%;
    padding:10px 15px;
}

.container-img-album{
    position: relative;
}

.fa-circle-play.hover-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 45px;
    opacity: 0;
}

.card img{
    max-width: 100%;
}

/* regole didascalia album */

.title{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.subtitle{
    color: rgba(123,125,129,255);
    font-size: 12px;
    text-align: center;
}

/* regole footer */

#player{
    height: 90px;
    background-color: rgba(40,40,40,255);
    display: flex;
    justify-content: space-between;
}

/* head player */

#head-player{
    display: flex;
    align-items: center;
    width: 25%;
}
/* controllo imagine */
#img-player{
    width: 15%;
    padding-left: 10px;
}

#img-player img{
    max-width: 100%;
}
/* controllo scritte */
#info-player{
    vertical-align: middle;
    padding: 8px;
}

#info-player h3{
    color: #fff;
}

#info-player div{
    color: rgba(126,126,126,255);
}

/* controllo icone */

#heart-folder a{
    color: rgba(126,126,126,255);
    padding: 10px;
}

/* main player */

#main-player{
    width: 50%;
}

/* controllo icode */

#control{
    display: flex;
    justify-content: center;
    align-items: center;
}

#control i{
    color: #fff;
    font-size:22px;
    padding: 5px;
}


/* controllo barra scorrimeto */

#music-control{
    display: flex;
    justify-content: center;
    align-items: center;
}

#music-control span{
    color: #fff;
    padding: 5px;
}

/* barra scorrimento */

.music-bar{
    display: inline-block;
}

.music-bar,
.volume-bar {
    height: 5px;
    background-color: rgba(90,90,90,255);
    border-radius: 99px;
    width: 60%;
    cursor: pointer;
}

/* footer player */

#footer-player{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* icone footer player */

#footer-player i{
    color: rgba(135,135,135,255);
    padding: 5px;
}

/* barra volume */

.volume-bar {
    width: 40%;
    display: inline-block;
}





/* versione small mmobile */
@media screen and (max-width:480px) {

    /* blocco navigazione principale */
    #wrapper nav {
        width: 60px;
    }


    /* blocco di contenuto principale */
    #wrapper main {
        width: calc(100% - 60px);
    }

    #logo, #nav-head span,#nav-main,#nav-footer span,#nav-footer hr{
        display: none;
    }

    /* regole logo */
    #logo-small{
        display: block;
        width: 100%;
    }

    #nav-head img{
        display: block;
        width: 100%;
    }

    #nav-footer img{
        display: block;
        width: 100%;
    }
}